<nav class="container">
    <ul>
        <li><strong>Site cda ALT</strong></li>
    </ul>
    <ul>
        <li><a href="">home</a></li>
        <li><a href="{{ path('app_cours_routing') }}">routing</a></li>
        <li><a href="{{ path('app_cours_routing_param') }}">routing param</a></li>
        <li><a href="{{ path('app_cours_twig_variable') }}">twig variable</a></li>
        <li><a href="{{ path('app_category') }}">categories</a></li>
        <li><a href="{{ path('app_link_show_all_link') }}">links</a></li>
    </ul>
</nav>
